.blocked {
	background-color: #ec7777;
	color: #ffffff;
	padding: 4px 12px;
	border-radius: 6px;
}

.active {
	background-color: #a8d37f;
	color: #ffffff;
	padding: 4px 12px;
	border-radius: 6px;
	font-weight: 500;
}

.button {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 10px;

	outline: 0;
	border: 0;

	color: #373745;
	background-color: #f7f7f7;

	padding: 8px 16px;
	border-radius: 8px;
	font-weight: 500;

	cursor: pointer;

	font-size: 16px;

	transition: 0.2s ease all;

	&:hover {
		background-color: #e3e3e3;
	}
}
