.item {
	padding: 12px 0px;

	border-bottom: 1px solid gainsboro;

	.itemBlock {
		display: flex;
		justify-content: space-between;
	}

	button {
		outline: 0;
		border: 0;
		cursor: pointer;
		font-size: 16px;
		background-color: #f7f7f7;
		padding: 8px 16px;
		border-radius: 8px;
	}
}
